body {
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    padding: 20px;
    min-height: 85vh;
    background-color: antiquewhite;
}

h2 {
    text-align: center;
    border-bottom: 2px grey;
}

a {
    display: inline-block;
}

.a_img:hover,
a:hover {
    opacity: 0.6;
    cursor: pointer;
}

.a_img {
    width: 250px;
    margin: 10px;
}

form {
    margin: 0 auto;
    width: 500px;
    height: 100px;
    padding: 20px;
}

.but {
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color: antiquewhite;
    color: grey;
    border: 1px solid grey;
}

.but:hover {
    background-color: wheat;
    color: black;
    border: 1px solid;
    box-shadow: 1px 1px 2px;
}

footer p {
    text-align: center;
    margin-top: 2rem;
}
